/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #d3e1f3; */
    background-image: linear-gradient( #d4e2f4 0%, #edf3fb 100%);

}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between; /* Ensure logo and nav items are spread across the width */
}

.navbar .logo img {
    width: 125px;
}

nav {
    display: flex; /* Turn the nav into a flex container */
    justify-content: flex-end; /* Align the navigation items to the right */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px; /* Add spacing between nav items */
}

nav ul li a {
    text-decoration: none;
    color: #3a4163; /* Adjust text color */
    font-weight: bold;
}

.btn {
    background: #ffffff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #3a4163;
}

.btn:hover {
    background: #5aa8d6;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 4rem 2rem;
    background: url('iotbay-bg.jpg') no-repeat center center/cover;
    color: white;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero .btn {
    background: #28a745;
    color: white;
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
}

.hero .btn:hover {
    background: #218838;
}
